<li class="list-group-item">

    <p class="author-name"> <%= name %> </p>

    <div style="display: none" class="input-group edit-author">
        <input type="text" id="author-name-input" class="form-control">
                  <span class="input-group-btn">
                    <button id="update-author" class="btn btn-default" type="button">Go!</button>
                 </span>
    </div>
    <!-- /input-group -->

    <button class="btn btn-default edit">
        <span class="glyphicon glyphicon-pencil"></span>
    </button>

    <button class="btn btn-default delete">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
</li>