<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>E-Library</title>


    {#Can't load template from external source#}
    {#    <script type="text/template" id="author-view-template" src="static/templates/author.html">#}
    <script type="text/template" id="author-view-template">
        <li class="list-group-item">

            <h4 id="author-name"> <%= name %></h4>

            <div style="display: none" class="input-group edit-author">
                <input type="text" id="author-name-input" class="form-control">
                  <span class="input-group-btn">
                    <button id="update-author" class="btn btn-default" type="button">Go!</button>
                 </span>
            </div>
            <!-- /input-group -->
            <h6 class="written-books">
            <% book_list = []; %>
                <% _.each(books, function(book) { %>
                <% book_list.push("\""+book+"\""); %>
                <% });%>
                <%= book_list.join(", ") %>
            </h6>

            <div style="display: none" class="edit-written-books">
                <textarea id="books-input" class="form-control"></textarea>
                <button id="update-books" class="btn btn-default" type="button">Go!</button>
            </div>

            <button class="btn btn-default edit">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>

            <button class="btn btn-default delete">
                <span class="glyphicon glyphicon-remove"></span>
            </button>

            <button class="btn btn-default books">
                <span class="glyphicon glyphicon-list"></span>
            </button>
        </li>
    </script>


    <script type="text/template" id="book-view-template">
        <li class="list-group-item">

            <h4 id="book-title"> <%= title %></h4>

            <div style="display: none" class="input-group edit-book">
                <input type="text" id="book-title-input" class="form-control">
                  <span class="input-group-btn">
                    <button id="update-book" class="btn btn-default" type="button">Go!</button>
                 </span>
            </div>
            <!-- /input-group -->
            <h6 class="authors">
                <%= authors.join(", ") %>
            </h6>

            <div style="display: none" class="edit-authors">
                <textarea id="authors-input" class="form-control"></textarea>
                <button id="update-authors" class="btn btn-default" type="button">Go!</button>
            </div>

            <button class="btn btn-default edit">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>

            <button class="btn btn-default delete">
                <span class="glyphicon glyphicon-remove"></span>
            </button>

            <button class="btn btn-default authors">
                <span class="glyphicon glyphicon-list"></span>
            </button>
        </li>
    </script>

</head>
<body>
<div class="container-fluid">

    <div class="col-md-6" id="authors">
        <form class="form-inline" role="form">
            <div class="form-group">
                <input type="search" class="form-control" placeholder="Author">
                <button type="submit" class="btn btn-default">Search</button>
            </div>
        </form>
        <ul class="list-group" id="authors-list"></ul>

        <div class="new-author">
            <button type="button" id="add-author" class="btn btn-default btn-block">Add author</button>
            <div style="display: none" class="input-group create-author">
                <input type="text" id="new-author-name" class="form-control">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" id="submit" type="button">Go!</button>
                 </span>
            </div>
        </div>
    </div>

    <div class="col-md-6" id="books">

        <form class="form-inline" role="form">
            <div class="form-group">
                <input type="search" class="form-control" placeholder="Book">
                <button type="submit" class="btn btn-default">Search</button>
            </div>
        </form>

        <ul class="list-group" id="books-list"></ul>

        <div class="new-book">
            <button type="button" id="add-book" class="btn btn-default btn-block">Add book</button>
            <div style="display: none" class="input-group create-book">
                <input type="text" id="new-book-title" class="form-control">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" id="submit" type="button">Go!</button>
                 </span>
            </div>
        </div>
    </div>
</div>


{% include "static.html" %}
</body>
</html>