<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>E-Library</title>


    {#Can't load template from external source#}
    <script type="text/template" id="author-view-template">
        <a id="author-name" href="#/authors/<%= name %>">
            <h4>
                <strong><%= name %></strong>
            </h4>
        </a>

        <div style="display: none" class="input-group edit-author">
            <input type="text" id="author-name-input" class="form-control">
                  <span class="input-group-btn">
                    <button id="update-author" class="btn btn-default" type="button">Go!</button>
                 </span>
        </div>
        <!-- /input-group -->
        <h6 class="written-books">
            <% book_list = []; %>
            <% _.each(books, function(book) { %>
            <% book_list.push("\""+book+"\""); %>
            <% });%>
            <%= book_list.join(", ") %>
        </h6>

        <div style="display: none" class="edit-written-books">
            <textarea id="books-input" class="form-control"></textarea>
            <button id="update-books" class="btn btn-default" type="button">Go!</button>
        </div>

        <button class="btn btn-default edit">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>

        <button class="btn btn-default books">
            <span class="glyphicon glyphicon-list"></span>
        </button>

        <button class="btn btn-default delete">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </script>


    <script type="text/template" id="book-view-template">

        <a id="author-name" href="#/books/<%= title %>">
            <h4>
                <strong><%= title %></strong>
            </h4>
        </a>

            <div style="display: none" class="input-group edit-book">
                <input type="text" id="book-title-input" class="form-control">
                  <span class="input-group-btn">
                    <button id="update-book" class="btn btn-default" type="button">Go!</button>
                 </span>
            </div>
            <!-- /input-group -->
            <h6 class="authors">
                <%= authors.join(", ") %>
            </h6>

            <div style="display: none" class="edit-authors">
                <textarea id="authors-input" class="form-control"></textarea>
                <button id="update-authors" class="btn btn-default" type="button">Go!</button>
            </div>

            <button class="btn btn-default edit">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        <button class="btn btn-default authors">
            <span class="glyphicon glyphicon-list"></span>
        </button>

            <button class="btn btn-default delete">
                <span class="glyphicon glyphicon-remove"></span>
            </button>

    </script>

</head>
<body>

<div class="container-fluid">


    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="">
            <span class="glyphicon glyphicon-book"></span>
            </a>
            {#            <form action="auth" class="navbar-form navbar-left" >#}
            {#                    <div class="form-group">#}
            {#                      <input type="text" class="form-control" placeholder="Login">#}
            {#                      <input type="password" class="form-control" placeholder="Password">#}
            {#                    </div>#}
            {#                    <button type="submit" name="action" value="login" class="btn btn-default">Log in</button>#}
            {#                    <button type="submit" name="action" value="register" class="btn btn-default">Register</button>#}
            {#                  </form>#}

        </div>
    </nav>

    <div class="col-md-6" id="authors">

        <div class="input-group">
            <input type="text" class="form-control search-author">
          <span class="input-group-btn">
            <a class="btn btn-default search-author" href="#/search/author">Search</a>
          </span>
        </div>
        <!-- /input-group -->


        <div class="list-group" id="authors-list"></div>

        <div class="new-author">
            <button type="button" id="add-author" class="btn btn-default btn-block">Add author</button>
            <div style="display: none" class="input-group create-author">
                <input type="text" id="new-author-name" class="form-control">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" id="submit" type="button">Go!</button>
                 </span>
            </div>
        </div>
    </div>

    <div class="col-md-6" id="books">

        <div class="input-group">
            <input type="text" class="form-control search-book">
          <span class="input-group-btn">
            <a class="btn btn-default search-book" href="#/search/book">Search</a>
          </span>
        </div>
        <!-- /input-group -->

        <div class="list-group" id="books-list"></div>

        <div class="new-book">
            <button type="button" id="add-book" class="btn btn-default btn-block">Add book</button>
            <div style="display: none" class="input-group create-book">
                <input type="text" id="new-book-title" class="form-control">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" id="submit" type="button">Go!</button>
                 </span>
            </div>
        </div>
    </div>
</div>


{% include "static.html" %}
</body>
</html>