{#<script type="text/template" src="static/templates/author.html" id="author-view-template"></script>#}
{#<script type="text/template" src="static/templates/book.html" id="book-view-template"></script>#}

<link href="static/bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet">

<script type="text/javascript" src="static/jquery-2.1.1.js"></script>
<script type="text/javascript" src="static/underscore.js"></script>
<script type="text/javascript" src="static/backbone.js"></script>
<script type="text/javascript" src="static/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="static/manager.js"></script>